<h1 mat-dialog-title>Select {{data.title}}</h1>
<div mat-dialog-content class="single-dialog">
  <mat-form-field>
    <mat-label>Choose item</mat-label>
    <mat-select (selectionChange)="onSelectEvent($event)" [multiple]="data.isMultiple">
      <mat-option *ngFor="let item of data.selectedDataList" [value]="item.value" [disabled]="item.disable">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="selectedValues" cdkFocusInitial>Ok</button>
</div>

