
<button class="add-product-button" mat-raised-button (click)="addProduct()">Add</button>

<mat-accordion>

  <!--  --------------------   Add Product Panel   ----------------- -->

  <mat-expansion-panel *ngIf="addProductEvent" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Area id: NEW
      </mat-panel-title>
      <mat-panel-description>
        Add new Product
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="item-description" fxLayout="row" fxLayoutAlign="start" >
      <mat-form-field class="product-add-panel-form">
        <mat-label>Category:</mat-label>
        <mat-select (selectionChange)="onCategoryChange($event)">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="product-add-panel-form">
        <mat-label>Type:</mat-label>
        <mat-select (selectionChange)="onTypeChange($event)">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="product-description" fxLayout="row" fxLayoutAlign="end" >
      <button mat-raised-button (click)="createProduct()">Save</button>
      <button mat-raised-button (click)="addProductEvent = false">Cancel</button>
    </div>
  </mat-expansion-panel>

  <!--  --------------------   Main Product Panel   ----------------- -->

  <mat-expansion-panel *ngFor="let product of products" (closed)="onAfterCollapse(product)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Product id: {{product.productId}}
      </mat-panel-title>
      <mat-panel-description>
        Created at: {{product.created}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="product-description" fxLayout="row" fxLayoutAlign="space-between start" >
      <div>
        <span>Modified at:&nbsp;&nbsp; <b>{{product.modified}}</b></span>
      </div>
      <button mat-icon-button class="add-component-button" color="primary" (click)="editProduct(product)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <div class="product-description" fxLayout="row" fxLayoutAlign="start">
      <div *ngIf="product.category !== undefined; else elseCategoryBlock">
        <div *ngIf="!editProductEvent">
          <span>Category:&nbsp;&nbsp; <b>{{product.category}}</b></span>
        </div>
        <div *ngIf="editProductEvent">
          <mat-form-field class="product-add-panel-form">
            <mat-label>Category:</mat-label>
            <mat-select (selectionChange)="onCategoryChange($event)" [(value)]="selectedCategory.value">
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-template #elseBlock>Category is not assigned</ng-template>

      <mat-divider></mat-divider>

      <div *ngIf="product.type !== undefined; else elseBlock">
        <div *ngIf="!editProductEvent">
          <span>Product type:&nbsp;&nbsp; <b>{{product.type}}</b></span>
        </div>
        <div *ngIf="editProductEvent">
          <mat-form-field class="product-add-panel-form">
            <mat-label>Type:</mat-label>
            <mat-select (selectionChange)="onTypeChange($event)" [(value)]="selectedType.value">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-template #elseCategoryBlock>Type is not assigned</ng-template>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="product.area !== undefined; else elseAreaBlock">
      <div>
        <span><b>Area id:</b>&nbsp;&nbsp; <b>{{product.area.areaId}}</b></span>
      </div>
      <div>
        <span>Definition:&nbsp;&nbsp; <b>{{product.area.definition}}</b></span>
      </div>
      <div class="product-description" fxLayout="row" fxLayoutAlign="start" >
        <div>
          <span>Created at:&nbsp;&nbsp; <b>{{product.area.created}}</b></span>
        </div>
        <div>
          <span>Modified at:&nbsp;&nbsp; <b>{{product.area.modified}}</b></span>
        </div>
      </div>
    </div>
    <ng-template #elseAreaBlock>Area is not assigned</ng-template>

    <mat-divider></mat-divider>

    <div *ngIf="product.laboratory !== undefined; else elseLaboratoryBlock">
      <div>
        <span><b>Laboratory id:</b>&nbsp;&nbsp; <b>{{product.laboratory.laboratoryId}}</b></span>
      </div>
      <div>
        <span>Definition:&nbsp;&nbsp; <b>{{product.laboratory.definition}}</b></span>
      </div>
      <div class="product-description" fxLayout="row" fxLayoutAlign="start" >
        <div>
          <span>Created at:&nbsp;&nbsp; <b>{{product.laboratory.created}}</b></span>
        </div>
        <div>
          <span>Modified at:&nbsp;&nbsp; <b>{{product.laboratory.modified}}</b></span>
        </div>
      </div>
    </div>
    <ng-template #elseLaboratoryBlock>Laboratory is not assigned</ng-template>

    <mat-divider></mat-divider>

    <div class="product-description" fxLayout="row" fxLayoutAlign="end" >
      <button mat-raised-button (click)="cancelProduct(product)">Cancel</button>
      <button mat-raised-button (click)="saveProduct(product)">Save</button>
      <button mat-raised-button (click)="deleteProduct(product)">Delete</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>
