
<button class="add-item-button" mat-raised-button (click)="addLaboratory()">Add</button>

<mat-accordion>

  <!--  --------------------   Add Laboratory Panel   ----------------- -->

  <mat-expansion-panel *ngIf="addLaboratoryEvent" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Laboratory id: NEW
      </mat-panel-title>
      <mat-panel-description>
        Add new Laboratory
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="item-description" fxLayout="row" fxLayoutAlign="start" >
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Definition:</mat-label>
          <input matInput placeholder="Add Laboratory definition" [(ngModel)]="newDefinition" #laboratoryDefinition="ngModel">
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="item-description" fxLayout="row" fxLayoutAlign="end" >
      <button mat-raised-button (click)="createLaboratory(laboratoryDefinition)">Save</button>
      <button mat-raised-button (click)="addLaboratoryEvent = false; newDefinition = ''">Cancel</button>
    </div>
  </mat-expansion-panel>

  <!--  --------------------   Main Laboratory Panel   ----------------- -->

  <mat-expansion-panel *ngFor="let laboratory of laboratories" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Laboratory id: {{laboratory.laboratoryId}}
      </mat-panel-title>
      <mat-panel-description>
        Created at: {{laboratory.created}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="item-description" fxLayout="row" fxLayoutAlign="start" >
      <div>
        <span>Modified at:&nbsp;&nbsp; <b>{{laboratory.modified}}</b></span>
      </div>
      <div>
        <span>Description:&nbsp;&nbsp; <b>{{laboratory.definition}}</b></span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div>
      <span><b>Equipments:</b></span>
      <button mat-icon-button class="add-component-button" color="primary" (click)="addEquipmentEvent(laboratory)">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="laboratory.equipments !== undefined; else elseEquipmentBlock">
      <ng-container *ngFor="let equipment of laboratory.equipments">
        <div class="item-description" fxLayout="row" fxLayoutAlign="start" >
          <div>
            <span>ID:&nbsp;&nbsp; <b>{{equipment.equipmentId}}</b></span>
          </div>
          <div fxFlex="33">
            <span>Type:&nbsp;&nbsp; <b>{{equipment.type}}</b></span>
          </div>
          <div>
            <span>Definition:&nbsp;&nbsp; <b>{{equipment.definition}}</b></span>
          </div>
        </div>

        <div class="item-description" fxLayout="row" fxLayoutAlign="space-between start">
          <div>
            <span>Created at:&nbsp;&nbsp; <b>{{equipment.created}}</b></span>
          </div>
          <div>
            <span>Modified at:&nbsp;&nbsp; <b>{{equipment.modified}}</b></span>
          </div>
          <button mat-icon-button color="primary" (click)="deleteEquipmentEvent(laboratory, equipment)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #elseEquipmentBlock>Are not assigned</ng-template>

    <mat-divider></mat-divider>

    <div>
      <span><b>Products:</b></span>
      <button mat-icon-button class="add-component-button" color="primary" (click)="addProductEvent(laboratory)">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="laboratory.products !== undefined; else elseProductBlock">
      <ng-container *ngFor="let product of laboratory.products">
        <div class="item-description" fxLayout="row" fxLayoutAlign="start" >
          <div>
            <span>ID:&nbsp;&nbsp; <b>{{product.productId}}</b></span>
          </div>
          <div fxFlex="25">
            <span>Category:&nbsp;&nbsp; <b>{{product.category}}</b></span>
          </div>
          <div>
            <span>Type:&nbsp;&nbsp; <b>{{product.type}}</b></span>
          </div>
        </div>

        <div class="item-description" fxLayout="row" fxLayoutAlign="space-between start" >
          <div>
            <span>Created at:&nbsp;&nbsp; <b>{{product.created}}</b></span>
          </div>
          <div>
            <span>Modified at:&nbsp;&nbsp; <b>{{product.modified}}</b></span>
          </div>
          <button mat-icon-button  color="primary" (click)="deleteProductEvent(laboratory, product)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #elseProductBlock>Are not assigned</ng-template>

    <mat-divider></mat-divider>

    <div>
      <span><b>Workshops:</b></span>
      <button mat-icon-button class="add-component-button" color="primary" (click)="addWorkshopEvent(laboratory)">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="laboratory.workshops !== undefined; else elseWorkshopBlock">
      <ng-container *ngFor="let workshop of laboratory.workshops">
        <div class="item-description" fxLayout="row" fxLayoutAlign="start">
          <div>
            <span>ID:&nbsp;&nbsp; <b>{{workshop.workshopId}}</b></span>
          </div>
          <div>
            <span>Description:&nbsp;&nbsp; <b>{{workshop.definition}}</b></span>
          </div>
        </div>
        <div class="item-description" fxLayout="row" fxLayoutAlign="space-between start" >
          <div>
            <span>Created at:&nbsp;&nbsp; <b>{{workshop.created}}</b></span>
          </div>
          <div>
            <span>Modified at:&nbsp;&nbsp; <b>{{workshop.modified}}</b></span>
          </div>
          <button mat-icon-button  color="primary" (click)="deleteWorkshopEvent(laboratory, workshop)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #elseWorkshopBlock>Are not assigned</ng-template>

    <mat-divider></mat-divider>

    <div class="item-description" fxLayout="row" fxLayoutAlign="end" >
      <button mat-raised-button (click)="cancelLaboratory(laboratory)">Cancel</button>
      <button mat-raised-button (click)="saveLaboratory(laboratory)">Save</button>
      <button mat-raised-button (click)="deleteLaboratory(laboratory)">Delete</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>
