app-sidebar {
  width: 260px;
  background-color: lightblue;
}

/deep/ app-content {
  position: relative;
  overflow: auto;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff, lightblue);
}

.main {
  padding-top: 60px;
}
