button {
  border-radius: 10px;
  border-color: #1976d2 !important;
  background-color: paleturquoise;
  height: 36px;
  width: 180px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 20px;
}

app-sidebar {
  height: 100%;
}

.router-active {
  background-color: #1976d2;
  color: white;
}
