  <button mat-raised-button routerLink="/areaView" routerLinkActive="router-active">Areas</button>
  <button mat-raised-button routerLink="/brigadeView" routerLinkActive="router-active">Brigades</button>
  <button mat-raised-button routerLink="/equipmentView" routerLinkActive="router-active">Equipments</button>
  <button mat-raised-button routerLink="/laboratoryView" routerLinkActive="router-active">Laboratories</button>
  <button mat-raised-button routerLink="/productView" routerLinkActive="router-active">Products</button>
  <button mat-raised-button routerLink="/teamOfAreaBossView" routerLinkActive="router-active">Boss Teams</button>
  <button mat-raised-button routerLink="/technicalPersonalView" routerLinkActive="router-active">Tech Personals</button>
  <button mat-raised-button routerLink="/workerView" routerLinkActive="router-active">Workers</button>
  <button mat-raised-button routerLink="/workshopView" routerLinkActive="router-active">Workshops</button>
